/* Flexbox
все свойства для контейнера

по умолчанию - ось х - горизонталь

1. justify-content: - распределяет пространство между и вокруг элементов контейнера

2. flex-direction (ось х, ось у)

3. align-items: выравнивает элементы по оси у вертикали

4. flex-wrap как сильно будутсжиматьсяэлементы и будет ли перенос элементов на следующую строчку

Для детей:

1. flex-grow - сколько нужно элементу свободного пространства коэфициэнтувеличения

2. flex-shrink - сколько нужно элементу свободного пространства коэфициэнт уменьшения

3.flex-basis - width для элемента
*/



.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
   
   flex-wrap: wrap;
   
}

.container__style{
    background-color: tomato;
}

.item{
    height: 200px;
    width: 200px;
    flex-grow: 1;
}

.item__style{
    border: 2px solid black;
    background-color: grey;    
    text-align: center;  
}

.flex__basis{
    flex-basis: 400px;
}